.field {
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/img/board.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-stack {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        position: absolute;
        width: 8rem;
        @media(max-width: 720px){
            width: 5.5rem;
        }
    }
}

.top-card {
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover {
        transform: scale(1.1) translateY(-10px);
    }
}

.played-cards {
    transform: scale(1) translateX(150px) translateY(-220px) rotate(10deg);
    right: 25px;
    @media(max-width: 720px){
        transform: scale(1) translateX(150px) translateY(-160px) rotate(10deg);
    }
}

.pick-card {
    transition: all 125ms ease-in-out;
    animation: pick-card-animation 1.1s ease-in-out 0s 1 forwards;
    @media(max-width: 720px){
        animation: pick-card-animation-mobile 1.1s ease-in-out 0s 1 forwards;
    }
}

@keyframes pick-card-animation {
    0% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1.7);
    }
    60% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1) translateX(150px) translateY(-220px) rotate(10deg);
    }
}

@keyframes pick-card-animation-mobile {
    0% {
        transform: scale(1.1);
    }
    40% {
        transform: scale(1.7);
    }
    60% {
        transform: scale(1.7);
    }
    100% {
        transform: scale(1) translateX(150px) translateY(-160px) rotate(10deg);
    }
}

.player-position {
    position: absolute;
    right: 0;
    z-index: 1;
}

.button-add {
    position: absolute;
    right: 32px;
    bottom: 32px;
    @media(max-width: 720px){
        bottom: 160px;
    }
    @media(max-width: 480px){
        bottom: 180px;
    }
}

.button-menu {
    position: absolute;
    top: 16px;
    left: 16px;
}

.pin-bottom {
    position: absolute;
    bottom: 32px;
    left: 150px;
    right: 150px;
    @media(max-width: 950px){
        left: 75px;
        right: 125px;
    }

    @media(max-width: 720px){
        left: 0;
        right: 0;
        bottom: 0;
    }

    button {
        width: 76px;
        height: 38px;
        margin: 5px;
        background-color: rgb(241, 241, 241);
        border: 1px solid rgba(170, 170, 170, 0.452);
        border-radius: 5px;
        font-weight: 600;
        cursor: pointer;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        &:hover {
            background-color: rgb(227, 226, 226);
        }
        @media(max-width: 950px){
            width: 60px;
            height: 30px;
        }
        @media(max-width: 530px){
            font-size: 12px;
            width: 55px;
            margin: 4px;
            
        }
    }
}

.scroll-container {
    overflow: auto;
    position: absolute;
    display: flex;
    left: 56px;
    right: 0;
    top: 0;
}

.game-over-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        width: 300px;
    }
}

.preloadImage {
    height: 0px;
    width: 0px;
    z-index: -999;
}

.hit-window {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.674);
    h2 {
        font-size: 45px;
    }
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

app-player, app-player-mobile {
    cursor: pointer;

    &:hover {
        filter: brightness(1.15);
    }
}

app-player-mobile {
    margin-left: 10px;
}

mat-card {
    @media(max-width: 720px){
        min-height: 100px;
    }
}