



<div class="scroll-container-desktop">
    <app-player (click)="editplayer(i)" *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': 20 + (i * 60)}" 
    [playerActive]="i == game.currentPlayer"
    [name]="player" [image]="game.playerImages[i]" class="player-position hide-mobile"></app-player>
    
</div>

<div class="scroll-container hide-desktop">
    <app-player-mobile (click)="editplayer(i)" *ngFor="let player of game.players; let i = index"
    [playerActive]="i == game.currentPlayer"
    [name]="player" [image]="game.playerImages[i]" class="hide-desktop"></app-player-mobile>
</div>

<div *ngIf="gameOver" class="game-over-screen">
    <img src="../../assets/img/game_over.svg">
</div>

<div class="field" *ngIf="!gameOver">
    
    <div class="card-stack">
            <!----Stack with 4 Cards----->
        <img [ngStyle]="{'right.px': i * 5}" *ngFor="let card of [1,2,3,4]; 
            let i = index;" src="./assets/img/cards/card_cover.png">

            <!----Top Card with hover effect-->
        <img (click)="takeCard()" class="top-card"
            style="right: 25px;" src="./assets/img/cards/card_cover.png">

            <!----Stack for played Cards-->
        <img *ngFor="let card of game.playedCards" class="played-cards" 
            src="./assets/img/cards/{{ card }}.png">

        <img class="preloadImage" src="./assets/img/cards/{{ game.stack[game.stack.length - 1] }}.png">
    
            <!----Current animated Card from Stack to top------>
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick-card"
            style="right: 25px;" src="./assets/img/cards/{{ game.currentCard }}.png">
    </div>

</div>

<div *ngIf="game.hitMyTip" id="hit-window" class="hit-window">
    <h2>Du bist leider raus</h2>
</div>

<div *ngIf="!gameOver" class="pin-bottom">
    <mat-card >
        <mat-card-title>
            Dein Tipp ist: {{ game.cardAnnouncement }}
        </mat-card-title>

        <mat-card-content>
            <button (click)="saveAnnouncement(i)" *ngFor="let button of announcementButton; let i = index;" >{{ announcementButton[i] }}</button>
            
        </mat-card-content>
    </mat-card>
</div>
    
<button *ngIf="!gameOver" mat-fab color="primary" (click)="openDialog()" class="button-add">
    <mat-icon>add</mat-icon>
</button>

<button class="button-menu" (click)="openPlayRules()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
</button>

